/**
============================================
Title: kustova-payroll.css
Author: Oksana Kustova
Date: 6/4/2021
Description: Styling for kustova-payroll.html file.
===========================================
*/

ul {
    border: red 1px dotted;
}